# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=db                  # "db" is the service name in docker-compose

# Flask
SECRET_KEY=                 # required by Flask-WTF and Flask sessions
FLASK_ENV=development
FLASK_DEBUG=1

# Database URL (used by SQLAlchemy)
DATABASE_URL=mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${DB_HOST}/${MYSQL_DATABASE}