Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Mail
openpyxl
pytest
Werkzeug
DotEnv
weasyprint
pymysql
cryptography
python-dotenv
pytz
flask-cors
python-escpos
pyusb
pyserial
pyinstaller
pywin32
pytz